body{
    background-image: 
    linear-gradient(to bottom, #FDF4F5,#E8A0BF,#BA90C6,#C0DBEA);
    background-attachment: fixed;
}



header {
	background-color: #333;
	color: #fff;
	padding: 10px;
    text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}



nav li {
	display: inline-block;
	margin-right: 10px;
}



nav a {
	color: #fff;
	text-decoration: none;
}


main {
	margin: 20px;
}



img{
    
    height: 400px;
    width:auto ;
}

.img1head{
    display: block;
    margin: 0 auto;
}



/*zapzapzapzapzap*/
.produto {
    display: inline-block;
    flex-direction: space-around; 
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 200px;
    height: auto;
    margin-left: 200px;
    margin-right: auto;
    text-align: center;
    position: relative;
   }

.btn-whatsapp {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #25D366;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: all 0.3s ease;
       transform: translateX(25%);
}

.btn-whatsapp:hover {
    background-color: #128C7E;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .button-container a {
    display: block;
    background-color: #25D366;
    color: white;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  
  .footer{
    flex-direction: space-around;
    margin-top: 50%;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: relative;
}



@media (max-width: 768px) {
   .produto{    width: 50%;
   }
    body {
      font-size: 14px;
    }
    .menu {
      display: none;
    }
  }
